<div class="page">

  <div class="card-form">
    <h1>{{ modoEdicao ? 'Editar Pessoa' : 'Cadastro de Pessoas' }}</h1>

    <form #form="ngForm" (ngSubmit)="salvar()" class="form">

      <div class="input-group">
        <label>Nome</label>
        <input type="text"
               placeholder="Digite o nome"
               [(ngModel)]="pessoa.nome"
               name="nome"
               #nome="ngModel"
               pattern="^[A-Za-zÀ-ÿ\s]+$"
               required />

        <small class="erro" *ngIf="nome.invalid && nome.touched">
          <span *ngIf="nome.errors?.['required']">
            O nome é obrigatório.
          </span>
          <span *ngIf="nome.errors?.['pattern']">
            O nome deve conter apenas letras.
          </span>
        </small>
      </div>

      <div class="input-group">
        <label>Email</label>
        <input type="email"
               placeholder="exemplo@email.com"
               [(ngModel)]="pessoa.email"
               name="email"
               #email="ngModel"
               email
               required />

        <small class="erro" *ngIf="email.invalid && email.touched">
          <span *ngIf="email.errors?.['required']">
            O email é obrigatório.
          </span>
          <span *ngIf="email.errors?.['email']">
            Email inválido.
          </span>
        </small>
      </div>

      <div class="input-group">
        <label>Telefone</label>
        <input type="text"
               placeholder="(00) 00000-0000"
               [(ngModel)]="pessoa.telefone"
               name="telefone"
               #telefone="ngModel"
               (input)="aplicarMascaraTelefone()"
               maxlength="15"
               required />

        <small class="erro"
               *ngIf="telefone.touched && !telefoneValido()">
          O telefone deve estar no formato (00) 00000-0000
        </small>
      </div>



      <div class="botoes-form">
        <button type="submit"
                class="btn"
                [disabled]="form.invalid || !telefoneValido()">

          {{ modoEdicao ? 'Atualizar' : 'Cadastrar' }}
        </button>

        <button type="button"
                class="btn-cancelar"
                *ngIf="modoEdicao"
                (click)="cancelarEdicao()">
          ❌ Cancelar
        </button>
      </div>

    </form>

  </div>

  <div class="card-list">
    <div class="header-list">
      <h2>Pessoas Cadastradas</h2>

      <input type="text"
             class="busca"
             placeholder="🔍 Buscar por nome..."
             [(ngModel)]="busca"
             (input)="filtrar()" />

      <select [(ngModel)]="ordem" (change)="ordenar()">
        <option value="asc">Nome A-Z</option>
        <option value="desc">Nome Z-A</option>
      </select>
    </div>

    <div *ngIf="pessoasPaginadas.length === 0" class="empty">
      Nenhuma pessoa encontrada.
    </div>

    <div class="grid">
      <div *ngFor="let p of pessoasPaginadas" class="person-card">

        <div class="avatar">
          {{ p.nome.charAt(0) | uppercase }}
        </div>

        <div class="info">
          <h3>{{ p.nome }}</h3>
          <p>📧 {{ p.email }}</p>
          <p>📞 {{ p.telefone }}</p>
        </div>

        <div class="acoes">
          <button class="edit-btn" (click)="editar(p)">
            ✏️ Editar
          </button>

          <button class="delete-btn" (click)="excluir(p._id!)">
            🗑 Excluir
          </button>
        </div>

      </div>
    </div>

    <div class="paginacao" *ngIf="totalPaginas > 1">
      <button class = "page-btn anterior" (click)="paginaAnterior()" [disabled]="paginaAtual === 1">
        ◀ Anterior
      </button>

      <span>Página {{ paginaAtual }} de {{ totalPaginas }}</span>

      <button class = "page-btn proxima" (click)="proximaPagina()" [disabled]="paginaAtual === totalPaginas">
        Próxima ▶
      </button>
    </div>
  </div>
</div>
